@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #eeebe8;
}

.link-no-highlight {
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faded-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.faded-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 30s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hover-border-animation {
  position: relative;
  display: inline-block;
}

.hover-border-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.5s;
}

.hover-border-animation:hover::after {
  width: 100%;
}

.custom-hover-transition {
  transition: background-color 0.5s ease-in-out;
}

.custom-input {
  border-left: 1px solid #cda78f;
  border-bottom: 1px solid #cda78f;
  border-top: none;
  border-right: none;
  color: #cda78f;
}

.custom-input::placeholder {
  color: #cda78f;
}

.custom-input:focus {
  outline: none;
  border-left: 2px solid #cda78f;
  border-bottom: 2px solid #cda78f;
}

.custom-input-new {
  border-left: 0px solid #cda78f;
  border-bottom: 0px solid #cda78f;
  border-top: none;
  border-right: none;
  color: #1d1d1f;
}

.custom-input-new::placeholder {
  color: #1d1d1f;
}

.custom-input-new:focus {
  outline: none;
  border-left: 0px solid #cda78f;
  border-bottom: 0px solid #cda78f;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-animation {
  animation: slideInFromBottom 1s ease-in-out forwards;
}

.drawer.open {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 1000;
}

.drawer-content {
  padding: 20px;
}

div.react-responsive-modal-modal {
  max-width: 1500px;
  border-radius: 20px;
}
