@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Poppins", sans-serif;
  background-color: #eeebe8;
}

.link-no-highlight {
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faded-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.faded-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 30s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
